@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
}

.left-side{
    color: #474646;
    background-color: #fff;
    padding: 2rem;
    width: 65%;
    border-radius: 1rem;
    box-shadow: 0px 10px 25px 15px rgba(0, 0, 0, 0.1);
}

.left-side .my-bag{
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.left-side .my-bag .title{
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.my-bag .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-bag .heading h1{
    font-size: 1.5rem;
}

.left-side .my-bag .items{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-side .my-bag .items .item .info-item{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.left-side .my-bag .items .item:last-child{
    margin-bottom: 2rem;
}

.left-side .my-bag .items .item .image{
    width: 20%;
    margin-right: 2rem;
}

.left-side .my-bag .items .item:nth-child(3) .image{
    width: 15%;
}

.left-side .my-bag .items .item .image img{
    width: 100%;
    height: 100%;
}

.left-side .my-bag .items .item .item-text{
    width: 60%;
}

.left-side .my-bag .items .item .item-text .heading{
    color: #474646;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.left-side .my-bag .items .item .item-text .heading .cross{
    cursor: pointer;
}

.left-side .my-bag .items .item .item-text .info span{
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    display: block;
}

.left-side .my-bag .items .item .item-text .size-quantity{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.left-side .my-bag .items .item .item-text .size-quantity .size-quantity-item{
    border: 1px solid lightgray;
    padding: 0.2rem 0.6rem;
    border-radius: 10px;
    margin-right: 2rem;
}

.left-side .my-bag .items .item .item-text .size-quantity .quantity-alter button{
    text-decoration: none;
    color: #fff;
    width: 25px;
    height: 25px;
    background-color: rgba(254, 139, 12, 1);
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

.left-side .my-bag .items .item .item-text .size-quantity .quantity-alter a:hover{
    background-color: rgba(254, 139, 12, 0.8);
}

.left-side .my-bag .items .item .item-text .size-quantity .quantity-alter .quantity__input {
    width: 75px;
    height: 25px;
    outline: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;
}

/* .left-side .my-bag .items .item .item-text .size-quantity .quantity-alter a span{
    width: 22px;
    height: 22px;
    background-color: #FE8B0C;
} */

.left-side .my-bag .items .item .item-text .sfl{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    width: auto;
    text-align: center;
    cursor: pointer;
}

.left-side .my-bag .items .item .item-text .sfl:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.left-side .my-bag .items .item .item-text .sfl i{
    margin-right: 0.5rem;
    color: #FE8B0C;
    display: inline-block;
}

.cart-right-side{
    display: flex;
        flex-direction: column;
        align-items: center;
    width: 30%;
    color: #474646;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 25px 15px rgba(0, 0, 0, 0.1);
        
}

.cart-right-side .total{
    width: 100%;
    height: 100%;
}

.cart-right-side .total h1.title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.cart-right-side .total .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.cart-right-side .total .info .title{
    font-weight: bold;
}

.cart-right-side .total .info .total-price{
    font-size: 1.2rem;
    font-weight: 700;
}

.cart-right-side .total .info .delivery-price{
    font-size: 1rem;
    font-weight: 500;
}

.cart-right-side .total .button{
    width: 100%;
}

.cart-right-side .total .size-quantity-item{
    width: 100%;
}

.cart-right-side .total .size-quantity-item select{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.cart-right-side .button{
    width: 100%;
}

.cart-right-side .button button{
    width: 100%;
    display: inline-block;
    padding: 0.7rem;
    border: none;
    outline: none;
    background-color: rgba(254, 139, 12, 1);
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1.5rem;
    cursor: pointer;
}

.cart-right-side .button button:hover{
    background-color: rgba(254, 139, 12, 0.8);
}

.hor-line{
    width: 90%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    margin-bottom: 0;
    display: block;
}



@media only screen and (max-width: 1280px) {
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .left-side{
        width: 100%;
        margin-bottom: 2rem;
    }

    .left-side .my-bag .items .item .image{
        width: 25%;
        margin-right: 1rem;
    }

    .right-side{
        width: 100%;
    }

    .right-side .button{
        width: auto;
    }

    .right-side .button button{
        padding: 1rem 3rem;
    }

    .size-quantity{
        display: inline-block;
    }

    /* .sfl{
        display: inline-block;
    } */
}