*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* body{
  
  font-family: 'Poppins', sans-serif;
  font-size: 100;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("https://images.unsplash.com/photo-1546377791-2e01b4449bf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
} */

.login-bg-image{
  font-family: 'Poppins', sans-serif;
  font-size: 100;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("https://images.unsplash.com/photo-1546377791-2e01b4449bf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  /* backdrop-filter: blur(8px); */
}
.login-container{
  /* margin: 0 auto; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* margin-top: 3%; */
  /* position: absolute; */
  /* top: 10%; */
  height: 500px;
  width: 900px;
  /* background-color: aqua; */
  backdrop-filter: blur(10px);
  z-index: 10;
  display: flex;
}
.login-container .login-left{
  width: 60%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1546377791-2e01b4449bf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80");
  background-size: 180%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
  /* background-position: center; */
  /* position: relative; */
  /* background-position: center; */
} 
.login-left h2{
  text-align: center;
  margin-top: 68%;
  color: #FFEEDC;
}
.login-left button{
  display: block;
  text-align: center;
  width:240px ;
  height: 37px;
  margin: 0 auto;
  margin-top: 8%;
  background: transparent;
  color: #FFEEDC;
  font-size: 15px;
  border: 2px solid #FFEEDC;
  border-radius: 30px;
  cursor: pointer;
}

.login-container .login-right{
  background-color: #FFEEDC;
  width: 45%;
  border-bottom-right-radius: 3%;
  border-top-right-radius: 3%;
}

/* #login{
  margin-top: 12%;
  font-weight: 600;
  text-align: center;
  color: #F5860E;
}  
#welcome{
  color: grey;
  font-weight: 400;
  text-align: center;
}
#email{
  margin-top: 7%;
  margin-left: 10%;
}
 #field1{
  margin: 0 auto;
  margin-top: 10%;
  height: 45px;
  padding: 2%;
  border: 2px solid #dddfe2;
  outline: none;
  border-radius: 6px;
  display: block;
  width: 70%;
}
#form1 input:focus{
  border-color: #F5860E;
}

#forgot-pass{
  text-align: center;
  margin-top: 6%;
  color: #F5860E;
  font-weight: 400;
}
#a-tag{
  text-decoration: none;
}
#login-button {
  display: block;
  text-decoration: none;
  text-align: center;
  width:240px ;
  height: 37px;
  padding: 2%;
  background-color: #F5860E;
  color: white;
  border-radius: 9px;
  border:1px solid #dbdbdb ;
  cursor: pointer; 
  margin: 0 auto;
  margin-top:35px;
} */

.login-anchor, .login-anchor:hover, .login-anchor:focus, .login-anchor:active {
  text-decoration: none;
  color: inherit;
}


#loginform-login{
  margin-top: 12%;
  font-weight: 600;
  text-align: center;
  color: #F5860E;
}  
#loginform-welcome{
  color: grey;
  font-weight: 400;
  text-align: center;
}
#loginform-email{
  margin-top: 7%;
  margin-left: 10%;
}
 #loginform-field1{
  margin: 0 auto;
  margin-top: 10%;
  height: 45px;
  padding: 2%;
  border: 2px solid #dddfe2;
  outline: none;
  border-radius: 6px;
  display: block;
  width: 70%;
}
#loginform-form1 input:focus{
  border-color: #F5860E;
}

#loginform-forgot-pass{
  text-align: center;
  margin-top: 6%;
  color: #F5860E;
  font-weight: 400;
}
#loginform-a-tag{
  text-decoration: none;
}
#loginform-login-button {
  display: block;
  text-decoration: none;
  text-align: center;
  width:240px ;
  height: 37px;
  padding: 2%;
  background-color: #F5860E;
  color: white;
  border-radius: 9px;
  border:1px solid #dbdbdb ;
  cursor: pointer; 
  margin: 0 auto;
  margin-top:35px;
}