.col1, .col2, .col3{
  height: 600px;
  width: 80%;
}  
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 height: 100%;
 width: 100%;
 background-color: #fff;
 box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 12px 20px rgba(0,0,0,0.1); 
}
.image{
  height: 46%;
  width: 100%;
}
.image img{
  height: 100%;
  width: 100%;
}
.name{
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.breed{
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.age{
  font-size: 1rem;
  margin-bottom: 0.7rem;
}
.description{
  margin-bottom: 1.5rem;
}
#add-to-cart{
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  background-color: #F5860E;
  color: white;
  border-radius: 4px;
  border:1px solid #dbdbdb ;
  cursor: pointer; 
  text-transform: uppercase;
  font-weight: bold;
}
#add-to-cart:hover{
  background-color: white;
  border: 1px solid #F5860E;
  color: #F5860E;
}
.cart-button, .cart-button:hover, .cart-button:focus, .cart-button:active {
  text-decoration: none;
  color: inherit;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}