.category-text {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #FE8B0C;
  font-size: 2rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  width: 100%;
  height: 50rem;
  margin-bottom: 5rem;
}

.news-blogs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #474646; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);

}

.blog1 {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog2 {
  height: 100%;
  width: 100%;
  background-color: #FE8B0C;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog3 {
  height: 100%;
  width: 100%;
  background-color: #FE8B0C;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog4 {
  height: 100%;
  width: 100%;

  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .contact-form {} */

form label {
  position: relative;
  display: block;
}

form label input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: 1px solid #FE8B0Ca3;
  padding: 20px;
  width: 80%;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

form label input::-moz-placeholder {
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}

form label input:-ms-input-placeholder {
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}

form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}

form label input:focus, form label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}

form label input:focus::-moz-placeholder, form label input.populated::-moz-placeholder {
  color: transparent;
}

form label input:focus:-ms-input-placeholder, form label input.populated:-ms-input-placeholder {
  color: transparent;
}

form label input:focus::placeholder, form label input.populated::placeholder {
  color: transparent;
}

form label input:focus+span, form label input.populated+span {
  opacity: 1;
  top: 10px;
}

form label span {
  color: #FE8B0C;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

form input[type=submit] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #FE8B0C;
  color: #fff;
  padding: 16px 40px;
}

form input[type=submit]:hover {
  background: #ffaa4f;
}